
<div class="container-fluid">
  <h1> Welcome <%= @user.name %></h1>
  <%= link_to "Logout", sign_out_path, class:"btn btn-secondary", method: 'delete' %>
  <p>Here is how much money you have</p>
  <div id="user-budget-container">
    <%= render 'users/partials/user_budget'%>
  </div>
  <!-- <%= button_tag "Create new Wallet ", class:'btn btn-success', id: 'btn-create-new-wallet' %> -->
  <button class="btn btn-success" id="btn-create-new-wallet" >
    Create new Wallet
  </button>
  <%= link_to "Show coins", coins_path , class: 'btn btn-primary', id: 'btn-show-coins' %>
  <div id="my-modal-container"> </div>
  <div id="wallets-table-container"> </div>
</div>