
<div class="container-fluid">
  <h1> Welcome <%= @user.name %></h1>
  <%= link_to "Logout", sign_out_path, class:"btn btn-secondary", method: 'delete' %>
  <p>Here is how much money you have</p>
  <div id="user-budget-container">
    <h4 id="user-budget-content">R$ <span id="user-budget-value"><%=  @user.budget || "0,00"%></span></h4>
  </div>
  <!-- <%= button_tag "Create new Wallet ", class:'btn btn-success', id: 'btn-create-new-wallet' %> -->
  <button class="btn btn-success" id="btn-create-new-wallet" >
    Create new Wallet
  </button>
  <%= link_to "Show coins", coins_path , class: 'btn btn-primary', id: 'btn-show-coins' %>
  <div id="my-modal-container"> </div>
  <div id="wallets-table-container"> </div>
</div>
<script>
    $(document).ready(()=> {
        $('#btn-create-new-wallet').click(() => {
            $.ajax({
                method: 'get',
                url: '<%= new_wallet_path %>',
                success: (data) => {
                    $('#my-modal-container').html(data);
                    $('#new-wallet-modal').modal("show")
                }
            });
        });

        asyncUpdateWalletsTable();

    });


</script>