<h1>All Available Coins</h1>
<h3>Select which coin you would like to add to your wallet</h3>
<div id="new-coin-wallet-modal-container">

</div>
<table class="table table-hover">
  <thead>
    <tr>
      <td colspan="1"></td>
      <td> Name </td>
      <td> Acronym </td>
      <td> Mining Type </td>
      <td> Price </td>
      <td></td>
    </tr>
  </thead>
  <tbody id="tbody-show-all-coins">
     <% @coins.each do |coin| %>
        <tr>
          <td> <%= image_tag coin.url_image, alt: "Coin logo" , width: '20'%>  </td>
          <td> <%= coin.description %> </td>
          <td> <%= coin.acronym %> </td>
          <td> <%= coin.mining_type.acronym %> </td>
          <td> R$ <%= coin.price.to_s.gsub(/\./,',') %> </td>
          <td> <%= button_tag class:'btn btn-success' , onclick: "addCoinToWallet(#{coin.id})" do %>
                  <i class="fa fa-plus-circle" style="color: white; border-radius: 50px"></i>
                <% end %> </td>
        </tr>
      <% end %>
  </tbody>
</table>
<script>
  function addCoinToWallet(coin_id){
      $.ajax({
          method: 'get',
          url: "/coin_wallets/new?coin_id=" + coin_id,
          success: (data) => {
              $('#new-coin-wallet-modal-container').html(data);
              $('#modal-new-coin-wallet').modal('show');
          },
          error: (err) => {
              if (err.status === 406){
                  alertify.alert(err.responseJSON.message);
              }
              else {
                  console.error(err);
                  alertify.error('There has been an error getting the new coin wallet form');
              }
          }
      });
  }

</script>